In [1]:
# Import scraping modules
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import re
# Import data manipulation modules
import pandas as pd
import numpy as np
# Import data visualization modules
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# Connect to the database
engine = create_engine("mysql+pymysql://root:mishkin1@localhost/nba_injury")

# NBA Injured Tracker List

In [8]:
def url_connection(url):   
    # Create an URL object
    url = url
    # Open URL and pass to BeautifulSoup
    html = urlopen(url)
    stats_page = BeautifulSoup(html)

In [11]:
injury_data_2020 = url_connection('https://www.spotrac.com/nba/injured-reserve/2020/')

2020 Injury Data

In [3]:
# Create an URL object
url = 'https://www.spotrac.com/nba/injured-reserve/2020/'
# Open URL and pass to BeautifulSoup
html = urlopen(url)
stats_page = BeautifulSoup(html)

2021 Injury Data

In [4]:
# Create an URL object
url1 = 'https://www.spotrac.com/nba/injured-reserve/2021/'
# Open URL and pass to BeautifulSoup
html1 = urlopen(url1)
stats_page1 = BeautifulSoup(html1)

2022 Injury Data

In [5]:
# Create an URL object
url2 = 'https://www.spotrac.com/nba/injured-reserve/2022/'
# Open URL and pass to BeautifulSoup
html2 = urlopen(url2)
stats_page2 = BeautifulSoup(html2)

# By Team

In [80]:
def team_position_injury(url,x1,x2,team_position_injury):   
    # Create an URL object
    url = url
    # Open URL and pass to BeautifulSoup
    html = urlopen(url)
    stats_page = BeautifulSoup(html)

    
    # Collect table headers
    #column_headers = stats_page.findAll('tr')[0]
    #column_headers = [i.getText() for i in column_headers.findAll('th')]
    #print(column_headers)


    # Collect table rows
    rows = stats_page.findAll('tr')[x1:x2]
    # Get stats from each row
    injury_cash = []
    for i in range(len(rows)):
        injury_cash.append([col.getText() for col in rows[i].findAll('td')])

    Columns = [team_position_injury, 'Players','Games','Cash_Earned_While_Injured']
    df = pd.DataFrame(injury_cash, columns= Columns)
    return df

In [81]:
y2020t = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2020/',1,31,'Teams')
y2020t

                     Teams Players Games Cash_Earned_While_Injured
0       Los Angeles Lakers      17   313               $57,739,669
1    Golden State Warriors      15   230               $46,644,338
2            Brooklyn Nets      13   217               $42,806,849
3         Dallas Mavericks      15   226               $37,630,179
4      Cleveland Cavaliers      15   222               $37,372,303
5     Los Angeles Clippers      13   121               $36,274,280
6            Orlando Magic      10   332               $35,764,301
7       Philadelphia 76ers      14   205               $33,688,878
8     New Orleans Pelicans      12   139               $27,165,221
9   Minnesota Timberwolves      13   173               $26,666,425
10          Boston Celtics      13   184               $26,116,869
11  Portland Trail Blazers      11   206               $25,636,145
12         Toronto Raptors      13   133               $25,288,672
13               Utah Jazz      14   186               $22,927,858
14           Atlanta Hawks      14   228               $21,298,000
15      Washington Wizards      12   134               $20,737,807
16       Charlotte Hornets      10   119               $19,844,976
17         Houston Rockets       6   135               $18,672,239
18          Denver Nuggets      12   155               $17,916,021
19              Miami Heat       7    87               $17,912,514
20         Milwaukee Bucks      18   178               $17,712,411
21        Sacramento Kings      13   204               $16,866,274
22       Memphis Grizzlies      10   125               $14,057,506
23           Chicago Bulls      16    98               $13,241,828
24   Oklahoma City Thunder      15   314               $13,051,589
25         Detroit Pistons       7   150               $12,211,624
26         New York Knicks      13   203               $11,439,296
27          Indiana Pacers      10    89                $9,663,591
28       San Antonio Spurs       8   175                $9,394,882
29            Phoenix Suns      15   141                $9,280,494

In [82]:
y2021t = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2021/',1,31,'Team')
y2021t

                      Team Players Games Cash_Earned_While_Injured
0     Los Angeles Clippers      14   312               $73,811,459
1    Golden State Warriors      12   308               $55,015,053
2            Brooklyn Nets      13   335               $50,745,703
3   Portland Trail Blazers      14   286               $49,453,389
4       Los Angeles Lakers      16   298               $45,588,841
5            Orlando Magic      17   446               $44,091,111
6           Denver Nuggets      11   283               $40,486,421
7     New Orleans Pelicans      13   282               $36,081,552
8          Milwaukee Bucks      16   222               $33,815,020
9      Cleveland Cavaliers      15   234               $28,227,985
10      Washington Wizards      12   136               $28,180,169
11           Chicago Bulls      14   218               $26,272,123
12            Phoenix Suns      15   238               $25,081,776
13              Miami Heat      12   172               $23,318,180
14           Atlanta Hawks      16   228               $21,342,449
15        Dallas Mavericks      15   204               $21,304,752
16               Utah Jazz      16   253               $20,934,595
17          Boston Celtics       9    98               $20,364,540
18         Toronto Raptors      14   154               $18,864,237
19        Sacramento Kings      13   160               $18,159,260
20          Indiana Pacers      15   192               $18,138,667
21         New York Knicks      13   176               $15,386,197
22         Detroit Pistons      12   189               $14,822,981
23       Charlotte Hornets      10    99               $14,528,655
24       Memphis Grizzlies      15   189               $14,339,144
25      Philadelphia 76ers      15   112               $14,112,309
26  Minnesota Timberwolves      13   103               $13,137,331
27         Houston Rockets      11   146               $13,103,922
28       San Antonio Spurs      13   143               $11,912,353
29   Oklahoma City Thunder      17   244                $8,738,374

In [83]:
y2022t = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2022/',1,31,'Team')
y2022t

                      Team Players Games Cash_Earned_While_Injured
0            Orlando Magic      11   189               $23,086,211
1          Milwaukee Bucks      10   102               $22,760,898
2     Los Angeles Clippers      10    70               $20,015,176
3    Golden State Warriors       9    92               $19,955,583
4             Phoenix Suns      10    87               $16,960,318
5               Miami Heat      13   132               $15,476,972
6        Charlotte Hornets       8   120               $14,977,157
7           Boston Celtics       8    83               $13,893,706
8          Toronto Raptors      11   100               $13,613,331
9   Portland Trail Blazers      12    98               $13,476,046
10       Memphis Grizzlies      12   115               $13,208,120
11      Los Angeles Lakers      11    81               $12,727,901
12           Atlanta Hawks      10    61               $12,505,916
13      Philadelphia 76ers      10    69               $12,371,321
14    New Orleans Pelicans      11    70               $12,045,959
15  Minnesota Timberwolves      10    72               $11,926,024
16      Washington Wizards      11    83               $11,795,170
17     Cleveland Cavaliers      11   125               $11,312,055
18           Chicago Bulls       9    72               $11,049,626
19   Oklahoma City Thunder      14    88               $10,056,380
20           Brooklyn Nets      12    74                $9,677,441
21         Detroit Pistons      11    90                $9,621,995
22          Denver Nuggets      10    60                $9,127,232
23        Dallas Mavericks      14    67                $8,672,848
24       San Antonio Spurs      14    87                $8,463,518
25          Indiana Pacers      10    82                $7,111,118
26               Utah Jazz      11    52                $6,307,768
27         Houston Rockets       9    74                $5,731,943
28        Sacramento Kings       9    16                $5,121,247
29         New York Knicks       7    38                $3,569,111

# By Injury

In [84]:
#2020
y2020_injury = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2020/',33,77,'Reason')
y2020_injury

         Reason Players  Games Cash_Earned_While_Injured
0          Knee     108  1,047              $107,958,209
1         Ankle     113    918               $90,800,489
2          Foot      36    333               $68,326,528
3          Calf      34    362               $60,057,020
4     Hamstring      32    234               $54,395,757
5      Knee ACL       6    296               $43,254,963
6      Achilles      20    176               $41,105,034
7          Back      44    185               $35,397,389
8           Hip      37    206               $28,532,505
9         Wrist      18    222               $22,808,117
10        Groin      30    155               $21,924,485
11     Shoulder      23    167               $16,072,486
12          Leg      13    113               $16,024,688
13      Illness      55    111               $15,106,535
14         Quad      19     74               $14,556,394
15        Thigh      15     78               $13,771,775
16          Toe      17     92               $10,758,239
17     Covid 19       8     67               $10,592,038
18         Hand      13    110               $10,562,090
19   Concussion      24    127                $6,975,774
20       Kidney       1     24                $6,104,120
21        Thumb       7     63                $5,750,743
22       Finger       6     27                $5,158,316
23     Tailbone       1      7                $4,123,896
24        Elbow       4     34                $2,360,155
25      Oblique       4     26                $2,222,956
26         Neck      10     31                $2,196,610
27         Heel       5     13                $1,673,404
28         Face       2      3                $1,391,265
29         Ribs       2     22                $1,105,840
30          Eye       4     15                  $973,481
31    Abdominal       6     24                  $965,080
32   Hip Flexor       3     21                  $708,652
33        Teeth       1      4                  $228,557
34         Nose       1      9                  $195,483
35     Migraine       3      5                  $191,744
36      Forearm       1      2                  $148,890
37         Head       2      7                  $145,308
38        Chest       1      1                  $126,822
39     Pectoral       1      2                  $126,822
40          Arm       1      3                  $101,535
41       Biceps       1      1                   $24,386
42      Stomach       1      2                   $18,459
43  Undisclosed       2      3                        $0

In [86]:
#2021
y2021_injury = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2021/',33,78,'Reason')
y2021_injury

               Reason Players  Games Cash_Earned_While_Injured
0                Knee     127  1,711              $238,138,463
1               Ankle     144  1,056              $117,126,810
2                Foot      45    637               $69,061,218
3                Back      73    448               $51,720,676
4               Wrist      29    341               $39,371,982
5            Achilles      10    107               $33,281,375
6           Hamstring      43    256               $32,116,971
7           Abdominal       4     66               $29,023,829
8               Elbow      10     91               $25,721,506
9               Thumb      11    103               $21,582,097
10            Illness     106    235               $19,468,885
11               Calf      30    160               $18,893,635
12           Knee ACL       4    143               $18,110,617
13                Hip      32    170               $16,154,949
14           Shoulder      27    181               $13,393,352
15                Toe      20    109               $10,598,037
16             Finger       9     91                $8,426,112
17               Hand       9     32                $7,798,938
18               Lung       1     18                $7,449,960
19               Quad      21     90                $6,951,149
20              Groin      13     44                $6,002,505
21           Tailbone       2     13                $5,720,450
22         Concussion      16     51                $4,078,564
23  Injury Management      15     32                $4,073,297
24               Neck       7     68                $2,829,111
25                Leg      11     52                $2,409,082
26           Adductor       6     26                $1,820,278
27               Heel       5     32                $1,688,458
28               Shin       1      4                $1,552,419
29              Thigh      11     42                $1,330,318
30                Eye       3     13                $1,251,896
31               Nose       1     10                  $693,386
32               Ribs       2      6                  $531,928
33           Soreness       2      3                  $247,133
34                Ear       1      1                  $164,610
35           Migraine       1      1                  $133,510
36               Face       3      3                  $100,136
37              Teeth       1      1                   $79,023
38               Head       1      1                   $64,054
39              Glute       1      2                   $55,208
40        Undisclosed       2      4                   $48,032
41             Hernia       1      1                   $33,438
42                Arm       1      1                   $22,989
43         Hip Flexor       2      3                   $20,714
44              Mouth       1      1                   $17,448

In [87]:
#2022
y2022_injury = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2022/',33,69,'Reason')
y2022_injury

               Reason Players Games Cash_Earned_While_Injured
0                Knee      68   588               $76,344,793
1               Ankle      85   483               $46,684,537
2                Foot      32   208               $32,030,835
3             Illness      72   132               $22,660,676
4           Hamstring      18   145               $20,754,667
5                Calf      14    91               $19,236,225
6                Heel       4    38               $14,193,214
7            Adductor       7    34               $13,949,842
8            Shoulder      13    88               $13,443,664
9                Back      35    80               $13,171,375
10  Injury Management      17    49               $12,850,574
11                Toe       7    66               $11,219,133
12                Hip      26   110               $10,655,033
13              Wrist       2    27               $10,181,912
14           Knee ACL       3    97                $9,090,300
15              Groin      11    31                $5,831,756
16               Quad       8    43                $4,813,663
17                Leg       3    18                $4,102,282
18         Concussion      10    31                $3,522,647
19          Abdominal       1    34                $3,434,472
20               Shin       2    26                $3,398,148
21              Thumb       6    35                $2,983,376
22           Achilles       6    15                $2,299,370
23              Elbow       4    16                $2,294,652
24        Undisclosed       2     2                $1,831,376
25             Finger       3    17                $1,595,315
26               Neck       2     5                  $929,158
27              Thigh       4     7                  $829,864
28               Hand       3     6                  $735,104
29            Oblique       1    16                  $685,344
30                Eye       1     5                  $563,959
31              Mouth       1     1                  $104,637
32              Chest       1     1                   $78,997
33               Nose       2     2                   $65,286
34              Glute       1     1                   $33,933
35               Ribs       1     1                   $17,972

# By Position

In [88]:
#2020
y2020_position = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2020/',79,86,'Position')
y2020_position

         Position Players  Games Cash_Earned_While_Injured
0     Point Guard      82  1,333              $177,857,896
1  Shooting Guard      92  1,281              $172,757,189
2   Small Forward      69  1,044              $141,416,968
3   Power Forward      77  1,026              $133,255,144
4          Center      52    716               $99,371,947
5         Forward       1     19                  $363,895
6           Guard       1      3                        $0

In [89]:
#2021
y2021_position = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2021/',80,87,'Position')
y2021_position

         Position Players  Games Cash_Earned_While_Injured
0  Shooting Guard     102  1,508              $200,762,408
1     Point Guard      88  1,464              $200,300,274
2   Small Forward      79  1,352              $175,431,513
3   Power Forward      77  1,169              $138,390,268
4          Center      60    904              $104,305,037
5         Forward       1      3                  $169,048
6           Guard       4     60                        $0

In [96]:
#2022
y2022_position = team_position_injury('https://www.spotrac.com/nba/injured-reserve/2022/',71,78,'Position')
y2022_position

         Position Players Games Cash_Earned_While_Injured
0     Point Guard      74   601               $91,575,366
1   Small Forward      55   550               $90,934,755
2  Shooting Guard      80   579               $77,401,747
3   Power Forward      60   440               $54,835,927
4          Center      47   373               $51,438,108
5         Forward       1     5                  $414,216
6           Guard       1     1                   $17,972

# By Player

In [92]:
def player(url,x1,x2):   
    # Create an URL object
    url = url
    # Open URL and pass to BeautifulSoup
    html = urlopen(url)
    stats_page = BeautifulSoup(html)

    # Collect table headers
    #column_headers = stats_page.findAll('tr')[0]
    #column_headers = [i.getText() for i in column_headers.findAll('th')]
    #print(column_headers)

    # Collect table rows
    rows = stats_page.findAll('tr')[x1:x2]
    # Get stats from each row
    injury_cash = []
    for i in range(len(rows)):
        injury_cash.append([col.getText() for col in rows[i].findAll('td')])
        
    Columns = ['Name','Position','Team','Injury','Games','Cash_Earned_While_Injured']
    df = pd.DataFrame(injury_cash, columns= Columns)
    df = df.replace(r'\n',  ' ', regex=True)

    # Define a custom function to extract the name
    def extract_name(value):
        if value is not None:
        # Split the value by the space character
            values = value.split(' ')
        # Return the first value (the name)
            full_name = ' '.join(values[1:3])
            # Return the full name
            return full_name
        else:
        # Return a default value if the value is None
            return 'N/A'
    # Apply the custom function to the name column
    df['Name'] = df['Name'].apply(extract_name)
    
    return df

In [98]:
#2020
y2020_player = player('https://www.spotrac.com/nba/injured-reserve/2020/',88,462)
y2020_player

,Name,Position,Team,Injury,Games,Cash_Earned_While_Injured
0,Klay Thompson,SG,GSW,Achilles,72,"$28,968,390"
1,Kevin Love,PF,CLE,Calf/Heel,47,"$21,195,702"
2,Otto Porter,SF,ORL/CHI,Foot/Back,41,"$17,366,748"
3,Anthony Davis,C,LAL,Thigh/Calf/Achilles/Quad,36,"$17,043,760"
4,LeBron James,SF,LAL,Ankle,27,"$16,386,247"
...,...,...,...,...,...,...
369,Jalen Harris,PG,TOR,Foot/Hip,18,$0
370,Naji Marshall,SF,NOP,Ankle,5,$0
371,Josh Hall,SF,OKC,Knee/Concussion,20,$0
372,Sean McDermott,SF,MEM,Foot/Shoulder,15,$0
373,Brodric Thomas,G,HOU,Ankle,3,$0

In [99]:
#2021
y2021_player = player('https://www.spotrac.com/nba/injured-reserve/2021/',89,500)
y2021_player

,Name,Position,Team,Injury,Games,Cash_Earned_While_Injured
0,Kawhi Leonard,SF,LAC,Knee,82,"$38,892,640"
1,Jamal Murray,PG,DEN,Knee,82,"$29,298,415"
2,Damian Lillard,PG,POR,Abdominal,53,"$24,873,200"
3,Paul George,SG,LAC,Injury Management/Elbow,49,"$23,742,600"
4,Klay Thompson,SG,GSW,Injury Management/Illness/Knee/Achilles,48,"$20,736,600"
...,...,...,...,...,...,...
406,Yves Pons,G,MEM,Thigh/Ankle,22,$0
407,Eugene Omoruyi,SF,DAL,Foot,4,$0
408,Chris Smith,SF,DET,Knee,21,$0
409,Jamorko Pickett,SF,DET,Toe,7,$0
410,Marcus Garrett,PG,MIA,Wrist,2,$0

In [104]:
#2022
y2022_player = player('https://www.spotrac.com/nba/injured-reserve/2022/',89,398)
y2022_player

,Name,Position,Team,Injury,Games,Cash_Earned_While_Injured
0,James Harden,SG,PHI,Foot,14,"$5,879,305"
1,Jimmy Butler,SF,MIA,Ankle/Illness/Injury Management/Knee/Hip,13,"$5,842,746"
2,Karl-Anthony Towns,C,MIN,Calf,14,"$5,833,350"
3,Andrew Wiggins,SF,GSW,Adductor/Foot/Illness,14,"$5,796,000"
4,Michael Porter,SF,DEN,Heel/Back,13,"$5,329,950"
...,...,...,...,...,...,...
304,Jarrett Culver,SG,ATL,Hip/Illness,2,$0
305,Trent Forrest,SG,ATL,Concussion,3,$0
306,Sandro Mamukelashvili,C,MIL,Concussion,3,$0
307,Duane Washington,PG,PHX,Hip,8,$0
308,David Duke,SG,BKN,Illness,2,$0

In [105]:
def df_to_sql(dfq,table_name):
    # Connect to the database
    engine = create_engine("mysql+pymysql://root:mishkin1@localhost/nba_injury")
    # Load the DataFrame into the database
    dfq.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

In [110]:
#team
df_to_sql(y2020t,'y2020_team')
df_to_sql(y2021t,'y2021_team')
df_to_sql(y2022t,'y2022_team')

In [109]:
#injury
df_to_sql(y2020_injury,'y2020_injury')
df_to_sql(y2021_injury,'y2021_injury')
df_to_sql(y2022_injury,'y2022_injury')

In [108]:
#position
df_to_sql(y2020_position,'y2020_position')
df_to_sql(y2021_position,'y2021_position')
df_to_sql(y2022_position,'y2022_position')

In [107]:
#players
df_to_sql(y2020_player,'y2020_player')
df_to_sql(y2021_player,'y2021_player')
df_to_sql(y2022_player,'y2022_player')